@tailwind base;
@tailwind components;
@tailwind utilities;
.chainslistbtn {
  position: relative;
}
.chainslistdrowdown {
  position: absolute;
  top: 80px;
  min-width: 160px;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #a8a8a8;
}
